form {

    display: grid;
    grid-template-columns: 11fr 1fr;
    background: white;
    border-radius: 10px;
}

input {
    /* flex-grow: 2; */
    border-radius: 10px;
    border: none;

    height: 40px;
}

button {
    color: white;
    background: red;
    cursor: pointer;
    margin: 4px 5px;

    padding: 0 20px;
    border: none;
    border-radius: 5px;
}